<div class="sc_blogger_item_content entry-content"><div class="sc_blogger_item_header entry-header">		<div class="post_meta">
    <span class="post_meta_item post_date
                        ">
                            <a href="https://yultimate.org/player-stories/anitas-journey-gk-mad/">
June 25, 2021								</a>
                        </span>
<a href="https://yultimate.org/player-stories/anitas-journey-gk-mad/#trx_addons_emotions" class="post_meta_item post_counters_item post_counters_emotions trx_addons_icon-angellist"><span class="post_counters_number">2</span><span class="post_counters_label">Reactions</span></a> 		</div><!-- .post_meta -->
<h5 class="sc_blogger_item_title entry-title"><a href="https://yultimate.org/player-stories/anitas-journey-gk-mad/" rel="bookmark">Anita’s Journey – GK MAD</a></h5></div><!-- .entry-header --></div><!-- .entry-content --></div><!-- .sc_blogger_item --></div></div></div>		</div>
</div>