<div class="sc_blogger_columns_wrap sc_item_columns sc_item_posts_container trx_addons_columns_wrap columns_padding_bottom"><div class="trx_addons_column-1_3"><div class="sc_blogger_item post_format_standard post-6089 post type-post status-publish format-standard has-post-thumbnail hentry category-player-stories"><div class="post_featured with_thumb hover_dots sc_blogger_item_featured"><img width="390" height="255" src="https://yultimate.org/wp-content/uploads/2020/11/lax600by357-390x255.jpg" class="attachment-ekoterra-thumb-med size-ekoterra-thumb-med wp-post-image" alt="" loading="lazy" srcset="https://yultimate.org/wp-content/uploads/2020/11/lax600by357-390x255.jpg 390w, https://yultimate.org/wp-content/uploads/2020/11/lax600by357-195x128.jpg 195w" sizes="(max-width: 390px) 100vw, 390px">						<div class="mask"></div>
                <a href="https://yultimate.org/player-stories/laxmans-journey-gk-mad/" aria-hidden="true" class="icons"><span></span><span></span><span></span></a>
</div><div class="sc_blogger_item_content entry-content"><div class="sc_blogger_item_header entry-header">		<div class="post_meta">
                <span class="post_meta_item post_date
                                    ">
                                        <a href="https://yultimate.org/player-stories/laxmans-journey-gk-mad/">
            June 12, 2021								</a>
                                    </span>
     <a href="https://yultimate.org/player-stories/laxmans-journey-gk-mad/#trx_addons_emotions" class="post_meta_item post_counters_item post_counters_emotions trx_addons_icon-angellist"><span class="post_counters_number">0</span><span class="post_counters_label">Reactions</span></a> 		</div><!-- .post_meta -->
<h5 class="sc_blogger_item_title entry-title"><a href="https://yultimate.org/player-stories/laxmans-journey-gk-mad/" rel="bookmark">Laxman’s Journey – GK MAD</a></h5></div><!-- .entry-header --></div><!-- .entry-content --></div><!-- .sc_blogger_item --></div><div class="trx_addons_column-1_3"><div class="sc_blogger_item post_format_standard post-6426 post type-post status-publish format-standard has-post-thumbnail hentry category-team-stories"><div class="post_featured with_thumb hover_dots sc_blogger_item_featured"><img width="390" height="255" src="https://yultimate.org/wp-content/uploads/2021/06/IMG20190812124910-2-390x255.jpg" class="attachment-ekoterra-thumb-med size-ekoterra-thumb-med wp-post-image" alt="Children practicing throws at practice" loading="lazy" srcset="https://yultimate.org/wp-content/uploads/2021/06/IMG20190812124910-2-390x255.jpg 390w, https://yultimate.org/wp-content/uploads/2021/06/IMG20190812124910-2-790x518.jpg 790w, https://yultimate.org/wp-content/uploads/2021/06/IMG20190812124910-2-195x128.jpg 195w, https://yultimate.org/wp-content/uploads/2021/06/IMG20190812124910-2-706x464.jpg 706w" sizes="(max-width: 390px) 100vw, 390px">						<div class="mask"></div>
                <a href="https://yultimate.org/team-stories/singngat-ultimate/" aria-hidden="true" class="icons"><span></span><span></span><span></span></a>
</div>